.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
h3{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body {
    height: 100vh;
    background-image: linear-gradient(rgb(255,3255,255), rgb(186, 119, 214));
}
.container {
    max-width: 955px;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}
.message {
background-color: rgb(67, 200, 127);
width: 24%;
padding: 10px;
margin: 17px 2px;
border: 2px solid black;
border-radius: 12px;
}
.right {
float: right;
clear: both;
}
.left {
float: left;
clear: both;
}
#send-container {
 text-align: center;
 max-width: 1031px;
 width: 100%;
 display: block;
 margin: auto;
 font-size: 22px;
 font-family: 'Courier New', Courier, monospace;
}
#messageInp {
    width: 89%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    width: 9%;
}